*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#548688 ;
    text-align: center;
}
.container{
    height:70vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.game{
height: 60vmin;
width: 60vmin;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1.2rem;
    border: none;
    box-shadow: 1.0vh 1vh 0 rgb(62, 61, 61);
    font-size: 8vmin;
    color: rgb(4, 0, 255);
    cursor: pointer;
    background-color: #fffcd2;
}
#reset{
    padding: 1rem;
    font-size: 1.35rem;
    background-color: #353434;
    border-radius: 1rem;
    box-shadow: 1px 2px 0 rgb(224, 221, 217);
    cursor: pointer;
    color: rgb(223, 222, 222);
}
#reset:hover{
    background-color: rgb(255, 174, 0);
    color: black;
}


h1{
    color: rgb(236, 244, 245);
    text-shadow: 5px 3px rgb(0, 0, 0);
    font-size: 70px;
    
}
#new-btn{
    padding: 0.8rem;
    font-size: 1.35rem;
    background-color: #d802aa;
    border-radius: 1rem;
    box-shadow: 1px 2px 0 rgb(224, 221, 217);
    cursor: pointer;
    color: rgb(252, 252, 252);  
}

#new-btn:hover{
 background-color: green;
 color: rgb(0, 238, 255);
}



#msg{
    color:yellow;
    font-size:4rem;
}
.msg-container{
    height:100vmin;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 4rem; 
}
.hide{
   display:none; 
}

footer{
    background-color: rgb(16, 212, 238);
    font-size: 25px;
    justify-content: center;
    display: flex;
    gap: 0.3rem;
    margin-bottom: 0%;
    margin-top: 2.8%;
}
